:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: add rounded corners */
}

nav {
  font-family:sans-serif;
  width: 100svw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--pri-base);
 
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the flex container */
}

.logo {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em ;
  color: #1a1a1a;
}

.bio {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: 	#3b3b3b
}

.nav-right .buttons a{
  background-color: black;
  color: white;
  font-weight: 700;
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: add rounded corners */

}

.new-bill-container{
  font-family:Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  position: relative;
  align-items: center; /* Vertically center the button */
}

.new-bill-form {
  font-family:sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.new-bill-form label {
  margin-top: 9px;
  margin-left: 10px;
}



.new-bill-form input::placeholder {
  color: #999; /* Change the color to gray */
}

.new-bill-form > input{
  min-height: 18px;
  margin: 0px 8px;
}

.new-bill-label h4{
  display: flex;
  justify-content: left;
  margin-left: 10px;
  font-size: 1em;
  font-family:Arial, Helvetica, sans-serif;
  color: 	#3b3b3b
}

.add-bill {
  background-color: black;
  color: #ffffff;
  font-weight: 700;
  margin-left: 50px;
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: add rounded corners */
  position: absolute;
  right: 10px; /* Flush against the right side */
  border:#1a1a1a;
  text-align: center; /* Center the text horizontally */
  line-height: normal; /* Reset line-height */
  width: 85px;
  font-size: 1.35rem;
}

.checkbox-label h4{
  display: inline-flex;
  align-items: center;
  font-family:Arial, sans-serif;
  font-size: 1.55rem;
  margin-left: 10px;
  margin-right: 1px; /* Adjust margin as needed for spacing between label and checkbox */

}

.bills-index a h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-left: 10px;
  color: #1a1a1a;
}

.bills-index {
  display: flex;
  align-items: center;
}

.bills-index-right {
  display: flex;
  flex-grow: 1; /* Expand to fill available space */
  justify-content: flex-end; /* Align items to the right */
  margin-top: 18px;
}

.bills-index-right h4{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #1a1a1a;
}

.paid-button {
  margin-left: 10px; /* Add some spacing between the amount and the button */
  margin-right: 10px;
}

.paid-button button{
  background-color: black;
  color: #ffffff;
  font-weight: 700;
  margin-left: 50px;
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: add rounded corners */
  border:#1a1a1a;
  text-align: center; /* Center the text horizontally */
  line-height: normal; /* Reset line-height */
  width: 85px;
  font-size: 1.35rem;
}

.update-bill-form {
  font-family:sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.update-bill-form label {
  display: block;
  margin-left: 10px; /* Add margin bottom to create space between each input field */
}





.update-bill-form button {
  background-color: black;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none; /* Remove underline */
  padding: 10px 5px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: add rounded corners */
  border:#1a1a1a;
  text-align: center; /* Center the text horizontally */
  line-height: normal; /* Reset line-height */
  width: 85px;
  position: absolute;
  right: 10px; /* Flush against the right side */
  font-size: 1.35rem;
}

.update-bill-form h4 {
  display: inline-flex;
  align-items: center;
  font-family:Arial, sans-serif;
  font-size: 1.55rem;
  margin-left: 10px;
  margin-right: 1px; /* Adjust margin as needed for spacing between label and checkbox */
}

.Delete-bill button{
  background-color: black;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none; /* Remove underline */
  border-radius: 10px; /* Optional: add rounded corners */
  border:#1a1a1a;
  padding: 10px 5px; /* Adjust padding as needed */
  text-align: center; /* Center the text horizontally */
  line-height: normal; /* Reset line-height */
  width: 85px;
  position: absolute;
  right: 10px; /* Flush against the right side */
  font-size: 1.35rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}








@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
